.App{
  text-align: center;
  background-color: dodgerblue;
}
.numbers{
  display: flex;
  flex-wrap: wrap;
}
.button{
  flex: 1 0 33%;
  margin: 10px;
  font-weight: bold;
  font-size: larger;
}
.operators{
  font-size: 50px;
  padding: 5px;
  margin: 10px;
}